div#login-page.container-fluid
  h4.login-head.col-xs.text-center Chat Login
  div.mt.row
    form.text-center.align-items-center
      input.mt.col-xs-6.form-control(type='text', onblur='login.getUsername(this.value)', placeholder='Username')
      input.mt.col-xs-6.form-control(type='text', onblur='login.getPassword(this.value)', placeholder='Password')
      span.col-xs-3
      input.form-field.col-xs-6.mt.btn.btn-primary.center-block(onclick="login.sendToServer('login')", type='button', value='Login')
  div.row
    span.col-xs-3
    a(href="./getSignupPage")
      input.form-field.col-xs-6.mt.btn.btn-secondary.center-block(type='button', value='Sign Up')
